.loginHeader{
    @extend .registerHeader;
    justify-content: flex-end;
    padding-right: 20px;
    max-width: 98.4vw;
    @media screen and (max-width: 500px){
        max-width: 93vw;
    }
}

.login{
    @extend .register
}

.container{
    width: 100vw;
    height: 600px;
    display: flex;
    justify-content: center;
}

.inputBox{
    height: 300px;
    width: 400px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 10px dashed blue;
}

.inputer{
    @extend .input
}

.buttonContainer{
    @extend .buttonsContainer
}