.navBody{
   width: 98.77vw;
   height: 55px;
   display: flex;
   justify-content: space-between;
   align-items: center;
//    border: black solid 5px;
    
}

.delicious{
    margin-left: 10px;
    font-weight: bolder;
    font-size: 20px;
    font-family: cursive;
}

button{
    margin-right: 5px;
    font-family: cursive;

}