

@import './home';
@import './register';
@import './login';
@import './nav';
@import './groups';
@import './create';
@import './available';


body{
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
}




